.workshops_images {
  margin-top: 48px;
  display: flex;
  justify-content: right;
};

.workshops_image_container {
  width: 100px;
  object-fit: contain;
  height: auto;
}

.workshops_image {
  width: 100%;
  height: auto;
}


.workshop_decoration_image {
  animation: rotation 1s ease-in-out infinite alternate;
}

.workshop_decoration_image_1 {
  transform-origin: 80% 50%;
}

.workshop_decoration_image_2 {
  transform-origin: 35% bottom;
  animation-delay: 0.3s;
}

.workshops_decoration_text_path {
  animation: path_animation 0.6s ease-out forwards;
}

.workshops_decoration_text_path_1 {
  animation-delay: 0;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.workshops_decoration_text_path_2 {
  animation-delay: 0.3s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.workshops_decoration_text_path_3 {
  animation-delay: 0.7s;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.workshops_decoration_text_path_4 {
  animation: path_animation 1.8s ease-out forwards;
  animation-delay: 1s;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
}

.workshops_decoration_text_path_5 {
  animation-delay: 2s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}


@media (max-width: 620px) {
  .workshops_images {
    margin-top: 12px;
    align-items: center;
  };

  .workshops_image {
    width: 75%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes path_animation {
  to {
    stroke-dashoffset: 0;
  }
}
