.workshops_images {
  margin-top: 48px;
  display: flex;
  justify-content: right;
};

.workshops_image_container {
  width: 100px;
  object-fit: contain;
  height: auto;
}

.workshops_image {
  width: 100%
}

.workshop_decoration_image {
  animation: rotation 1s ease-in-out infinite alternate;
}

.workshop_decoration_image_1 {
  transform-origin: 80% 50%;
}

.workshop_decoration_image_2 {
  transform-origin: 35% bottom;
  animation-delay: 0.3s;
}


@media (max-width: 620px) {
  .workshops_images {
    margin-top: 12px;
    align-items: center;
  };

  .workshops_image {
    width: 75%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}