.hero_highlight {
  position: relative;
}

.hero_highlight_image {
  position: absolute;
  max-width: 105%;
  left: -20px;
  height: auto;
  top: 0;
}

.hero_highlight_path {
  stroke-dasharray: 722;
  stroke-dashoffset: 722;
  animation: highlight_path_animation 2s ease-out 1s forwards;
}

.hero_image {
  position: absolute;
}

.hero_image_1 {
  right: 100px;
  bottom: 0;
  transform: translateY(50%);
}

.hero_image_2 {
  right: 160px;
  top: 120px;
}

.hero_image_highlight {
  left: 60px;
  bottom: 100px;
}


@media (max-width: 960px) {
  .hero_image_1 {
    display: none;
  }

  .hero_image_2 {
    right: 20px;
    top: 120px;
  }

  .hero_highlight_image {
    left: -10px;
  }
}

@media (max-width: 620px) {
  .hero_image_2 {
    width: 60px;
    right: 20px;
    top: 120px;
  }
}

@keyframes highlight_path_animation {
  to {
    stroke-dashoffset: 0;
  }
}
