.underline {
  display: flex;
  flex-direction: column;
}

.underline_path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.5s ease-out;
}

.underline:hover {
  .underline_path {
    stroke-dashoffset: 0;
  }
}
