.footer {
  padding: 300px 0 44px; 
}

.footer_images {
  position: absolute;
  z-index: 10;
  transform: translateY(-60%);
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_navbar {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 960px) {
  .footer {
    padding-top: 260px; 
  }

  .footer_images {
    transform: translateY(-100%);
    align-items: center;
    right: 0;
  }
  
  .footer_image_1 {
    max-width: 100%;
  }

  .footer_image_2 {
    display: none;
  }

  .footer_image_1 {
    max-width: 100%;
  }

  .footer_contacts {
    margin-bottom: 64px;
  }

  .footer_navbar {
    font-size: 18px;
  }
}

@media (max-width: 620px) {
  .footer_contacts {
    margin-bottom: 32px;
    gap: 4px;
    align-items: center;
  }
  .footer_navbar {
    font-size: 16px;
  }

  .footer_navbar {
    flex-direction: column-reverse;
  }
}