.footer {
  padding: 30px 0 44px; 
}

.footer_info {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
}

.footer_image_rightHand {
  animation: hand-rotation 1s ease-in-out infinite alternate;
  transform-origin: center right;
}

.footer_image_leftHand {
  animation: hand-rotation 1s ease-in-out infinite alternate;
  transform-origin: center left;
}

.footer_navbar {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts {
  width: 100%;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 960px) {

  .footer_image {
    width: 100%;
    height: auto;
  }
  
  .footer_image_text {
    width: 80%;
    height: auto;
  }
  
  .footer_info {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer_image_1 {
    max-width: 100%;
  }

  .footer_image_2 {
    display: none;
  }

  .footer_image_1 {
    max-width: 100%;
  }

  .footer_contacts {
    margin-bottom: 64px;
  }

  .footer_navbar {
    font-size: 18px;
  }
}

@media (max-width: 620px) {
  .footer_info {
    align-items: center;
  }
  .footer_contacts {
    margin-bottom: 32px;
    gap: 4px;
    align-items: center;
  }
  .footer_navbar {
    font-size: 16px;
  }

  .footer_navbar {
    flex-direction: column-reverse;
  }
}

@keyframes hand-rotation {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}