.paragraph {
  font-size: 50px;
  width: 90%;
}

@media (max-width: 960px) {
  .paragraph {
    font-size: 40px;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .paragraph {
    font-size: 28px;
  }

  .paragraph_mobile_centered {
    text-align: center;
  }
}