.coworking_heroImage {
  position: absolute;
  right: 60px;
  top: 200px;
}

.coworking_content {
  padding-top: 110px;
}

.coworking_formContainer {
  margin-top: 120px;
}

.coworking_photo {
  width: 100%;
}

.coworking_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.coworking_firstParagraph {
  margin-bottom: 60px;
}

@media (max-width: 960px) {
  .coworking_content {
    padding-top: 110px;
  }
  
  .coworking_formContainer {
    margin-top: 80px;
  }

  .coworking_form {
    gap: 22px;
  }

  .coworking_firstParagraph {
    margin-bottom: 44px;
  }
}

@media (max-width: 620px) {
  .coworking_content {
    padding-top: 44px;
  }

  .coworking_form {
    gap: 16px;
  }

  .coworking_formContainer {
    margin-top: 32px;
  }

  .coworking_firstParagraph {
    margin-bottom: 24px;
  }
}