.logo {
  font-size: 40px;
  color: #DDFA8A;
  font-weight: 700;
}

.logo_big {
  font-size: 80px;
  color: #1F1F1F;
}

@media (max-width: 960px) {
  .logo {
    font-size: 32px;
  }

  .logo_big {
    font-size: 64px;
  }
}

@media (max-width: 620px) {
  .logo_big {
    font-size: 44px;
  }
  /* .logo {
    font-size: 24px;
  } */
}
