.classes_image {
  position: absolute;
  right: 100px;
  top: 120px;
  max-width: 40%;
}

.classes_content {
  padding-top: 110px;
}

@media (max-width: 960px) {
  .classes_image {
    right: 20px;
    top: 120px;
  }

}

@media (max-width: 620px) {
  .classes_image {
    right: 20px;
    top: 200px;
  }

  .classes_content {
    padding-top: 44px;
  }
}