.classes_title {
  max-width: 60%;
}

.classes_image {
  position: absolute;
  right: 2%;
  top: 0;
}

.classes_content {
  padding-top: 110px;
}

.classes_loading {
  min-height: 500px;
  display: flex;
  justify-content: center;
}

.worksops_decoration_text {
  max-width: 90%;
}

.worksops_decoration_text_path {
  animation: path_animation 0.6s ease-out forwards;
}

.worksops_decoration_text_path_1 {
  animation-delay: 0;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
}

.worksops_decoration_text_path_2 {
  animation-delay: 0.5s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.worksops_decoration_text_path_3 {
  animation-delay: 0.9s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.worksops_decoration_text_path_4 {
  animation-delay: 1.2s;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.worksops_decoration_text_path_5 {
  animation-delay: 1s;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
}

.worksops_decoration_text_path_6 {
  animation-delay: 1.3s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.worksops_decoration_text_path_7 {
  animation-delay: 1.7s;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}

.worksops_decoration_text_path_8 {
  animation-delay: 2.2s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.worksops_decoration_text_arrow {
  animation: path_animation 0.5s ease-out forwards;
  animation-delay: 2s;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.worksops_decoration_text_arrowTip {
  animation: path_animation 0.5s ease-out forwards;
  animation-delay: 2.3s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.longTerms_decoration_text_path {
  animation: path_animation 0.5s ease-out forwards;
}

.longTerms_decoration_text_path_1 {
  animation-delay: 0;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.longTerms_decoration_text_path_2 {
  animation-delay: 0.3s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.longTerms_decoration_text_path_3 {
  animation-delay: 0.4s;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.longTerms_decoration_text_path_4 {
  animation-delay: 0.6s;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}

.longTerms_decoration_text_path_5 {
  animation-delay: 1s;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
}

.longTerms_decoration_text_path_6 {
  animation-delay: 1.3s;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.longTerms_decoration_text_path_7 {
  animation-delay: 1.5s;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.longTerms_decoration_text_arrow {
  animation: path_animation 0.5s ease-out forwards;
  animation-delay: 1.4s;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.longTerms_decoration_text_arrowTip {
  animation: path_animation 0.5s ease-out forwards;
  animation-delay: 1.7s;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

@media (max-width: 960px) {
  .classes_image {
    right: 5px;
    width: 300px;
    height: 100%;
  }
}

@media (max-width: 620px) {
  .classes_title {
    max-width: 100%;
  }
  
  .classes_image {
    display: none;
  }

  .classes_content {
    padding-top: 44px;
  }
}

@keyframes path_animation {
  to {
    stroke-dashoffset: 0;
  }
}