.cards {
  display: grid;
}

.cards_short {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.cards_extended {
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.card {
  font-weight: 200;
  font-size: 32px;
}

.card__full {
  font-weight: 200;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card:hover {
  .card_title {
   color: #D74545;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
  justify-content: space-between;
}

.card_head {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__full_head {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}

.card_complexity {
  gap: 4px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.card_complexity_underline {
  height: 3px;
  background-color: #1F1F1F;
  border-radius: 2px;
}

.card_lessons {
  font-weight: 200;
}

.card_title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
}

.card_bookings {
  display: flex;
  justify-content: space-between;
}

.card__full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.card_price {
  color: #D74545;
  font-weight: 700;
  font-size: 50px;
}

.card__full_price {
  color: #D74545;
  font-weight: 700;
  font-size: 80px;
}


@media (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    font-size: 22px;
  }

  .card__full {
    font-weight: 200;
    font-size: 36px;
    gap: 24px;
  }

  .card__full_head {
    max-width: 100%;
  }

  .card_content {
    gap: 20px;
  }

  .card_head {
    gap: 8px;
    justify-content: space-between;
    flex-direction: row;
  }


  .card_dates {
    font-weight: 200;
    display: flex;
    justify-content: space-between;
  }

  .card__full_info {
    max-width: 100%;
  }

  .card_title {
    font-size: 40px;
  }

  .card_price {
    font-size: 40px;
  }

  .card__full_price {
    font-size: 60px;
  }
}

@media (max-width: 720px) {
  .card_head {
    gap: 8px;
    flex-direction: column;
  }
}


@media (max-width: 620px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .card {
    font-size: 18px;
  }

  .card__full {
    font-weight: 200;
    font-size: 24px;
    gap: 16px;
  }

  .card_content {
    gap: 8px;
  }

  .card_head {
    justify-content: space-between;
    flex-direction: row;
  }

  .card_title {
    font-size: 28px;
  }

  .card_price {
    font-size: 28px;
  }

  .card__full_price {
    font-size: 42px;
  }
}