.coworking {
  padding-top: 240px;
}

.coworking_content {
  overflow: clip;
  background-color: #DDFA8A;
  padding-bottom: 130px;
}

.coworking_decoration {
  position: absolute;
  transform: translateY(-50%);
  right: 10%;
}

.coworking_paragraph {
  margin-bottom: 70px;
}

.coworking_decoration_path {
  animation: highlight_path_animation 1.5s ease-out forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@media (max-width: 960px) {
  .coworking {
    padding-top: 120px;
  }
  
  .coworking_content {
    padding-bottom: 80px;
  }

  .coworking_paragraph {
    margin-bottom: 60px;
  }
}

@media (max-width: 620px) {
  .coworking {
    padding-top: 40px;
  }

  .coworking_content {
    padding-bottom: 36px;
  }

  .coworking_paragraph {
    margin-bottom: 40px;
  }
}

@keyframes highlight_path_animation {
  to {
    stroke-dashoffset: 0;
  }
}
