.input_label {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;
}

.input_required {
  color: #D74545;
}

.input_area {
  width: 700px;
  box-sizing: border-box;
  padding: 24px 32px;
  border: 3px solid #1F1F1F;
  font-family: 'Mulish';
  font-size: 32px;
  outline: none;
  background-color: #E8E6DF;
}

.input_area::placeholder {
  font-family: 'Mulish';
  font-size: 32px;
  color: #1F1F1F; 
  font-weight: 200;
}

.input_area:focus {

}

@media (max-width: 960px) {
  .input_label {
    margin-bottom: 4px;
    font-size: 22px;
  }

  .input_area {
    font-size: 22px;
    width: 100%;
    padding: 20px 28px;
  }

  .input_area::placeholder {
    font-size: 22px;
  }
}

@media (max-width: 620px) {
  .input_label {
    font-size: 18px;
  }

  .input_area {
    font-size: 18px;
    padding: 16px 24px;
  }

  .input_area::placeholder {
    font-size: 18px;
  }
}
